.button {
    @include flex-block;
    width: 100%;
    height: 40px;

    font-size: 18px;
    line-height: 24px;
    color: $border-main-c;
    text-decoration: none;

    background-color: #ffffff;
    border: 2px solid $border-main-c;
    border-radius: 10px;

    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: 0.5s;

    &:hover {
        color: #ffffff;
        background-color: $border-main-c;
    }

    &:active {
        opacity: 0.5;
        transition: 0.1s;
    }

    &:focus {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    }

    &--cards {
        text-transform: uppercase;

        @include before_768 {
            font-size: 16px;
            line-height: 22px;
        }
    }
}
