.filter {
    flex-grow: 1;
    margin-right: 48px;

    @include before_1024 {
        margin-right: 0;
        margin-bottom: 24px;
    }

    &__flex {
        display: flex;

        @include before_768 {
            flex-direction: column;
        }
    }

    &__el {
        margin-right: 24px;

        @include before_1024 {
            font-size: 14px;
            line-height: 16px;
        }

        @include before_768 {
            margin-right: 0;
            margin-bottom: 12px;
        }

        &--filter {
            font-weight: bold;
        }
    }
}
