.social {
    display: flex;
    align-items: center;

    @include before_480 {
        flex-wrap: wrap;
    }

    &__item {
        transition: 0.5s;

        @include before_480 {
            margin-bottom: 20px;
        }

        &:not(:last-child) {
            margin-right: 24px;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
